body {
    background-color:snow;
    font-family:'Century Gothic';
}
legend {
    font-size:20px;
    background-color:cyan;
}
a[href="#"] {
     float:right;
     background-color:red;
     color:white;
     margin-bottom:20px;
}
#div1 {
    background-color:white;
    width:100%;
    border:1px solid;
}
.heading {
    font-weight:bold;
    font-size:20pt;
    color:black;
}
img {
    width:45px;
    height:45px;
    padding-right:10px;
}
#center1 {
    background-color:lightgoldenrodyellow;
    width:100%;
    border:1px solid;
}
